<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Details</title>
        {% comment %} <link rel = "stylesheet" href = "{% static 'css/recipes.css' %}"> {% endcomment %}
    </head>
<body>
<main>
    <div>
        <h1>{{ todo_list_detail.name }}</h1>
        <p><a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a></p>
        {% comment %} <a href="{% url 'create' list.id %}">{{ list.name }}</a> {% endcomment %}
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Completion Status</th>
                </tr>
            </thead>
            <tbody>
            {% for item in todo_list_detail.items.all %}
                <tr>
                    <td><a href=" {% url 'todo_item_update' item.id %} ">{{ item.task }}</a></td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_completed }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
